// 색깔 변수
$subject-bg: #e58a8a;
$subject-font: #ffeeee;
$answer-bg: rgb(255, 255, 255);
$btn-bg: #4baeff;

html {
  font-size: 80%;
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: url('../../public/font/NanumBarunGothic.woff') format('woff');
}

body {
  font-family: 'Nanum Barun Gothic';
  background-color: #ffc9f3;
  opacity: 1;
  background-size: 17px 17px;
  background-image: repeating-linear-gradient(45deg, #76bafd 0, #76bafd 1.7000000000000002px, #ffc9f3 0, #ffc9f3 50%);
}

.container {
  width: 760px;
  display: flex;
  margin: 0px auto;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.subject {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  margin: 2rem 1rem 2rem 1rem;
  font-weight: 700;
  color: $subject-font;
  background-color: $subject-bg;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 7px 8px 15px 0px rgba(0,0,0,0.4);
}

.main-image-container {
  width:88%;
  overflow:hidden;
  margin:0 auto;
  padding: 1.5rem;
}

.question-image {
  width:100%;
  height:100%;
  border-radius: 1rem;
  object-fit:cover;
  box-shadow: 7px 8px 15px 0px rgba(0,0,0,0.4);
}

.answers-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 2rem;  
}

.answer {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  background-color: $answer-bg;

  &:nth-child(1) {
    margin-bottom: 1.2rem;
  }

  &:nth-child(2) {
    margin-bottom: 1.2rem;
  }
}

.next-btn-container {
  width: 90%;
  display: flex;
}

.next-btn {
  margin-left: auto;
  font-size: 1.3rem;
  background-color: $btn-bg;
  color: $subject-font;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 7px 8px 15px 0px rgba(0,0,0,0.4);
}

/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
  
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  .container {
    width: 480px;
  }
}

@media all and (max-width:480px) {
  .container {
    width: 350px;
    font-size: 1rem;
  }
}